<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjcw.mapper.TemplateMapper">

    <resultMap id="TemplateResult" type="com.sjcw.entity.Template">
        <id property="templateId" column="template_id"/>
        <result property="templateName" column="template_name"/>
        <result property="templateCode" column="template_code"/>
        <result property="templateType" column="template_type"/>
        <result property="content" column="content"/>
        <result property="description" column="description"/>
        <result property="attachment" column="attachment"/>
        <result property="isEnabled" column="is_enabled"/>
        <result property="sortOrder" column="sort_order"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>

    <sql id="selectTemplateVo">
        SELECT template_id, template_name, template_code, template_type, content, description,
               attachment, is_enabled, sort_order, created_time, updated_time
        FROM sys_template
    </sql>

    <select id="selectTemplateList" parameterType="com.sjcw.entity.Template" resultMap="TemplateResult">
        <include refid="selectTemplateVo"/>
        <where>
            <if test="templateName != null and templateName != ''">AND template_name LIKE CONCAT('%', #{templateName}, '%')</if>
            <if test="templateType != null and templateType != ''">AND template_type = #{templateType}</if>
            <if test="isEnabled != null">AND is_enabled = #{isEnabled}</if>
        </where>
        ORDER BY sort_order, created_time
    </select>
</mapper>
